.hp, .hpMax, .mana, .manaMax {
    height: 30px;
    width: 250px;
}

.hp {
    background-color: green;
    text-align: left;
}

.mana {
    background-color:cadetblue;
    text-align: left;
}

.hpMax, .manaMax {
    outline: 2px solid black;
}

.hpText, .manaText {
    font-size: 18px;
    font-weight: 900;
    margin-left: 10px;
}

.red {
    font-weight: bold;
    color: red;
}

.blue {
    font-weight: bold;
    color: cadetblue;
}

.green {
    font-weight:bold;
    color: green;
}

.poisonText {
    font-weight:bold;
    color:#94b21c
}

#combatLogContainer {
    height: 25%;
    overflow-y: scroll;
    outline: 5px solid black;
    padding:5px;
}

#battleSection {
    height: 65%;
    outline: 5px solid black;
    position:relative;
}

#movesSection {
    height: 25%;
    outline: 5px solid black;
    padding: 0;
}

#enemyHPMax, #enemyManaMax {
    margin: 5px;
}


.tabMenu {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab, .tabButton {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab, .tabButton:hover {
    background-color: #ddd;
}

.tab, .tabButton.active {
    background-color: #ccc;
}

.tabContent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.inquisition td {
        padding:0;
        font-size: 18px;
    }

.inquisition img {
        max-width:calc(90%);
        max-height:calc(90% - 10px);
        margin:5px;
    }

#playerImageContainer {
    height:90%;
    position: relative;
}

#playerHPMax, #playerManaMax {
    margin: 5px;
}

#playerContainer {
    display:inline-block;
    position:absolute;
    bottom:0;
    left:0;
}

#enemyContainer {
    display:inline-block;
    float:right;
}

#enemyImgContainer {
    height:90%;
    position:relative;
}

.actionButton, .abilityButton, .itemButton {
    font-size: 24px;
    font-weight: 900;
    cursor: pointer;
    display: table; /*Makes divs size of text (for mousover purposes)*/ 
    margin-right: 15px;
}

.actionButton::selection, .abilityButton::selection, .itemButton::selection {
    background: rgba(0,0,0,0); /*Makes highlight of text invisible*/
}
.actionButton::-moz-selection, .abilityButton::-moz-selection, .itemButton::-moz-selection {
    background: rgba(0,0,0,0);
}

.actionText {
    position:absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 900;
    font-size: 36;
    text-shadow: 2px 2px 4px black;
    display: none;
    transition: 1s;
    -webkit-transition: 1s;
}

.actionTextMove {
    top: 30%;
    left: 50%;
    transform: translate(-30%, -50%);
    transition: 1s;
    -webkit-transition: 1s;
}

.coolDown {
    color: grey !important;
    cursor: default !important;
}

#playerBuffTable {
    position: absolute;
    margin-left: 3;
    top: 3;
}

#enemyBuffTable {
    position:absolute;
    top: 3;
    right: 3;
}

.buffImage {
    width: 50px;
    height: 50px;
    margin: 0px;
    border: solid;
    background: #eeeeee;
    background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%);
    background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%);
    background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%);
}

.playerBigBuffText {
    left:45%;
}

.playerBuffText {
    left: 65%;
}

.enemyBuffText, .enemyBigBuffText {
    right: 15%;
}

.buffText, .bigBuffText {
    color: red;
    position: absolute;
    top: 15%;
    font-weight: 900;
    text-shadow: 2px 2px 2px black;
    font-size: 24px;
}

.buffHidden {
    display:none;
}

.buffHover {
    display: block;
    position: absolute;
    background-color: #FFF;
    border: 1px solid #CCC;
    margin: 2px 10px;
    padding: 4px 6px;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.relative {
    position:relative;
}