.boardTile {
	position:relative;
    width:64px;
    height:64px;
}

.tileItem {
    position:absolute;
}

#board td {
    padding:0;
    display:inline-block;
}

#worldMapContainer {
    position: relative;
    display: inline-block;
}

#menuContainer {
    display: inline-block;
    height: 64px;
    margin-top: calc(100% - 68px);
    position: absolute;
    top:0;
    right:0;
}

.craftTable {
    position:absolute;
    bottom:70px;
    padding: 5px;
    background-color: rgb(204,204,204);
    border: 8px solid rgb(61,61,61);
}

#skills {
    position:absolute;
    display:none;
    padding: 5px;
    background-color: rgb(204,204,204);
    border: 8px solid rgb(61,61,61);
    bottom: 64px;
    right: 2px;
}

.perksButton {
    width: 100%;
    height: 24px;
    color: black;
    background-color: rgb(204,204,204);
    border: 2px solid black;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 450;
}

.perksButtonActive {
    background-color:green;
    color: white;
    text-shadow: 1px 1px 1px black
}

#inventoryTable, #shopTable, #treasureTable {
    position:absolute;
    bottom:70px;
    padding: 5px;
    background-color: rgb(204,204,204);
    border: 8px solid rgb(61,61,61);
}

#inventoryTable, #skillsTable {
    right: 12px;
}

#shopTable, #treasureTable {
    right: 312px;
}

.craftMenu {
    position: relative;
    display:none;
    bottom:10px;
    right:0px;
}

.xpBarMax {
    height:12px;
    background-color: red;
    border: 2px solid black;
}

.xpBarCurr {
    height:11px;
    background-color:green;
    width:0px;
    margin-top:1px;
}

.skillsData {
    float:right;
}

#inventory, #shop, #treasure{
    position: relative;
    display:none;
    bottom:40px;
    right:0px;
    z-index:2;
}

#perks {
    background: #eeeeee;
    background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%);
    background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%);
    background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%);
    border: 8px solid rgb(61,61,61);
    position: absolute;
    top: 0;
    width: calc(100% - 18px);
    display:none;
}

#perks td img{
    border: 4px solid rgb(61,61,61);
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,223,0,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,223,0,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,223,0,1) 100%);
    border-radius: 12px;
}

#perks td h1 {
    font-weight: bold;
    font-size: 24px;
    text-shadow: 1px 1px 2px white;
    margin-top: 1em;
}

.perkRequirement {
    display: none;
    color: #000;
    text-decoration: none;
    padding: 3px;
}

.perkRequirementHover {
    display: block;
    position: absolute;
    background-color: #FFF;
    border: 1px solid #CCC;
    margin: 2px 10px;
}

#perks td p {
    margin-top: 0.5em;
    margin-left: 0.5em;
}

.greyedOut { 
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    color: grey;
}

.closeButton {
    width: 32px;
    height: 32px;
    position: absolute;
    right: 4px;
    top: 4px;
}

#perkSortButtonList button {
    border-radius: 6px;
    font-size: 12px;
}

#perkPoints {
    font-size: 18px;
    font-weight: bold;
    margin: 5px 20px;
}

.sortActive { 
    background: green;
    color: white;
}

#inventoryTable td, #shopTable td, #treasureTable td {
    display: inline-block;
    padding: 1px;
    width: 64px;
    height: 64px;
}

.inventoryItem {
    position: absolute;
    width: 50px;
    height: 50px;
    padding: 7px;
}

.inventorySlot {
    width: 64px;
    height: 64px;
    position:absolute;
}

.inventoryItemAmount {
    font-size: 22px;
    font-weight: 900;
    text-shadow: 1px 1px 1px white;
    float: right;
    margin-top: 35px;
    margin-right: 4px;
}

.inventoryAmountContainer {
    position: absolute;
    width: inherit;
    height: inherit;
}

.absolute {
    position: absolute;
}

.house00 {
    background: url(../art/house.png) 0 0px;
}

.house10 {
    background: url(../art/house.png) 64px 0;
}

.house01{
    background: url(../art/house.png) 0 64px;
}

.house11 {
    background: url(../art/house.png) 64px 64px;
}

.boss00 {
    background: url(../art/monster.png) 0 0px;
}

.boss10 {
    background: url(../art/monster.png) 64px 0;
}

.boss01{
    background: url(../art/monster.png) 0 64px;
}

.boss11 {
    background: url(../art/monster.png) 64px 64px;
}

.bossMove {
      transform: translate(-320px,0);
}

.monsterInvis {
    position: absolute;
    transition: all 0.5s cubic-bezier(.99,.12,.63,.66);
    -webkit-transition: all 0.5s cubic-bezier(.99,.12,.63,.66); /** Chrome & Safari **/
    -moz-transition: all 0.5s ease-in; /** Firefox **/
    -o-transition: all 0.5s ease-in; /** Opera **/
}

#dialogueContainer {
    display:none;
}

#portrait {
    position:absolute;
    bottom:0;
    width:calc(15% - 12px);
    height:96px;
    border: 6px solid black;
    border-radius: 10px;
    background:white;
}

#dialogueBox {
    position: absolute;
    bottom: 0;
    right: 2px;
    width: calc(85% - 12px);
    height: 96px;
    background: white;
    border: 6px solid black;
    border-radius: 10px;
}

#dialogueBox p{
    position: absolute;
    top: 0px;
    margin: 0;
    padding: 10px 10px 0px;
    font-size: 24px;
    font-family: "Courier New";
}

#equipment {
    position: absolute;
    right: 244px;
    bottom: 70px;
}

#equipmentBackground {
    height: 354px;
}

#hpBarCurr  {
    height: calc(100% - 1px);
    width:11px;
    background-color:green;
}

#hpBarMax {
    float: right;
    width: 12px;
    height: 6em;
    background-color: red;
    border: 2px solid black;
}

.equipmentSlot, .equipmentSlot img {
    position: absolute;
}


button:focus {
    outline:0;
}

.unselectable {
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}