.boardTile {
    width:64px;
    height:64px;
}

.tileItem {
    position:absolute;
}

#board td {
    padding:0;
    display:inline-block;
}

#worldMapContainer {
    position: relative;
    display: inline-block;
}

#menuContainer {
    display: inline-block;
    height: 64px;
    margin-top: calc(100% - 68px);
    position: absolute;
    top:0;
    right:0;
}

.craftTable {
    position:absolute;
    bottom:70px;
    padding: 5px;
    background-color: rgb(204,204,204);
    border: 8px solid rgb(61,61,61);
}

#inventoryTable, #shopTable, #skillsTable {
    position:absolute;
    bottom:70px;
    padding: 5px;
    background-color: rgb(204,204,204);
    border: 8px solid rgb(61,61,61);
}

#inventoryTable, #skillsTable {
    right: 12px;
}

#shopTable {
    right: 312px;
}

.craftMenu {
    position: relative;
    display:none;
    bottom:10px;
    right:0px;
}

.xpBarMax {
    height:12px;
    background-color: red;
    border: 2px solid black;
}

.xpBarCurr {
    height:11px;
    background-color:green;
    width:0px;
    margin-left:1px;
}

.skillsData {
    float:right;
}

#inventory, #shop, #skills{
    position: relative;
    display:none;
    bottom:10px;
    right:0px;
}

#inventoryTable td, #shopTable td {
    display: inline-block;
    padding: 1px;
    width: 64px;
    height: 64px;
}

.inventoryItem {
    position: absolute;
    width: 50px;
    height: 50px;
    padding: 7px;
}

.inventorySlot {
    width: 64px;
    height: 64px;
    position:absolute;
}

.inventoryItemAmount {
    font-size: 22px;
    font-weight: 900;
    text-shadow: 1px 1px 1px white;
    float: right;
    margin-top: 35px;
    margin-right: 4px;
}

.inventoryAmountContainer {
    position: absolute;
    width: inherit;
    height: inherit;
}

.absolute {
    position: absolute;
}

#equipment {
    position: absolute;
    right: 244px;
    bottom: 70px;
}

#equipmentBackground {
    height: 354px;
}

.equipmentSlot {
    position: absolute;
}

.unselectable {
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}