.boardTile {
    width:64px;
    height:64px;
}

.tileItem {
    position:absolute;
}

#board td {
    padding:0;
    display:inline-block;
}

#worldMapContainer {
    position: relative;
    display: inline-block;
}

#inventoryButton {
    position:absolute;
    bottom:8px;
    right:8px;
}

#cookMenuButton {
    display: none;
    position: absolute;
    bottom: 8px;
    right: 72px;
}

#inventoryTable, #shopTable, #cookMenuTable {
    position:absolute;
    bottom:70px;
    padding: 5px;
    background-color: rgb(204,204,204);
    border: 8px solid rgb(61,61,61);
}

#inventoryTable {
    right: 12px;
}

#shopTable {
    right: 312px;
}

#cookMenuTable {
    right: 500px;
}

#inventory, #shop, #cookMenu {
    position: relative;
    display:none;
    bottom:10px;
    right:0px;
}

#inventoryTable td, #shopTable td {
    display: inline-block;
    padding: 1px;
    width: 64px;
    height: 64px;
}

.inventoryItem {
    position: absolute;
    width: 50px;
    height: 50px;
    padding: 7px;
}

.inventorySlot {
    width: 64px;
    height: 64px;
    position:absolute;
}

.inventoryItemAmount {
    font-size: 22px;
    font-weight: 900;
    text-shadow: 1px 1px 1px white;
    float: right;
    margin-top: 35px;
    margin-right: 4px;
}

.inventoryAmountContainer {
    position: absolute;
    width: inherit;
    height: inherit;
}

.absolute {
    position: absolute;
}

#equipment {
    position: absolute;
    right: 244px;
    bottom: 70px;
}

#equipmentBackground {
    height: 354px;
}

.equipmentSlot {
    position: absolute;
}

.equipmentSlot

.unselectable {
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}